BODY {
	
}
H2 {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; LETTER-SPACING: 1px; LINE-HEIGHT: 130%; TEXT-INDENT: 30px
}
A {
	COLOR: #666699; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
H4 {
	FONT-SIZE: 10pt
}
.ttype1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; WIDTH: 160px
}
.atype1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; WIDTH: 160px
}
.stype1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; WIDTH: 160px
}
.btype1 {
	BACKGROUND-COLOR: #333366; COLOR: #ffffff; FONT-FAMILY: Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.btype2 {
	BACKGROUND-COLOR: #9999cc; COLOR: #000000; FONT-FAMILY: Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
CODE {
	COLOR: #993333; FONT-FAMILY: Courier
}
PRE {
	COLOR: #993333; FONT-FAMILY: Courier
}
.middle {
	BORDER-BOTTOM: #333333 0px solid; BORDER-LEFT: #333333 1px solid; BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 0px solid
}
.top {
	BORDER-BOTTOM: #333333 0px solid; BORDER-LEFT: #333333 0px solid; BORDER-RIGHT: #333333 0px solid; BORDER-TOP: #333333 1px solid
}
.bottom {
	BORDER-BOTTOM: #333333 1px solid; BORDER-LEFT: #333333 0px solid; BORDER-RIGHT: #333333 0px solid; BORDER-TOP: #333333 0px solid
}
.side {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; WIDTH: 135px
}
.side-title {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; TEXT-ALIGN: center
}
.side-link {
	PADDING-LEFT: 4px; PADDING-TOP: 4px
}
A.side {
	COLOR: #000000
}
.block {
	MARGIN: 10px; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px; TEXT-ALIGN: justify; WIDTH: 450px
}
.image {
	MARGIN: 10px; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center; WIDTH: 450px
}
.topic-sentence {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt; FONT-WEIGHT: bold; LETTER-SPACING: 1px; LINE-HEIGHT: 200%
}
.sub {
	COLOR: #336633; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; FONT-WEIGHT: bold; LETTER-SPACING: 1px; LINE-HEIGHT: 200%
}
.discourse {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt; LINE-HEIGHT: 200%
}
.copyright {
	FONT-FAMILY: Verdana; FONT-SIZE: 7pt; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.licence {
	FONT-FAMILY: Verdana; FONT-SIZE: 9pt; LINE-HEIGHT: 120%
}
.sub-links {
	COLOR: #336633; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; LETTER-SPACING: 1px; LINE-HEIGHT: 200%
}
.faq-q {
	FONT-FAMILY: Helvetica; FONT-SIZE: 8pt; LINE-HEIGHT: 150%
}
.faq-a {
	FONT-FAMILY: Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold; LINE-HEIGHT: 150%
}
.quote {
	COLOR: #666666; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-STYLE: italic; LINE-HEIGHT: 180%; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px; WIDTH: 450px
}
.accreditation {
	FONT-FAMILY: Verdana; FONT-SIZE: 7pt; TEXT-ALIGN: right
}
.intro-text {
	BORDER-BOTTOM: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; LINE-HEIGHT: 180%; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px; WIDTH: 450px
}
.page-title {
	FONT-FAMILY: Helvetica; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
