 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><!-- #BeginTemplate "/Templates/Citnames.dwt" --><HEAD>
<!-- #BeginEditable "doctitle" --> 
<TITLE>S E M A N T I C I T N A M E S</TITLE>
<!-- #EndEditable -->
<meta content="text/html; charset=ISO-8859-1" http-equiv=Content-Type>
<!-- #BeginEditable "metatags" --> 
<link rel="stylesheet" href="../../../css/semstyle.css">
<meta name="Author" content="Danny Ayers">
<meta name="keywords" content="Semantic Web, glossary, terms, terminology, dictionary, semantic, web, RDF, XML">
<meta name="description" content="A glossary of Semantic Web terms.">
<!-- #EndEditable -->
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<p align="center"><a href="http://www.isacat.net" title="Semantic citnameS"><font face="Courier New, Courier, mono">S 
  E M A N T I C I T N A M E S</font></a></p>
<!-- #BeginEditable "Body" --> 
<div align="center"> 
  <h4 align="center"><a name="top"></a><b>GLOSSARY</b></h4>
</div>
<h4 align="center"><a href="#A">A</a> <a href="#B">B</a> <a href="#C">C</a> <a href="#D">D</a> 
  <a href="#E">E</a> <a href="#F">F</a> <a href="#G">G</a> <a href="#H">H</a> 
  <a href="#I">I</a> <a href="#J">J</a> <a href="#K">K</a> <a href="#L">L</a> 
  <a href="#M">M</a> <a href="#N">N</a> <a href="#O">O</a> <a href="#P">P</a> 
  <a href="#Q">Q</a> <a href="#R">R</a> <a href="#S">S</a> <a href="#T">T</a> 
  <a href="#U">U</a> <a href="#V">V</a> <a href="#R">R</a> <a href="#S">S</a> 
  <a href="#T">T</a> <a href="#U">U</a> <a href="#V">V</a> <a href="#W">W</a> 
  <a href="#X">X</a> <a href="#Y">Y</a> <a href="#Z">Z</a></h4>
<p align="center"><a href="#aboutthis">About this Glossary</a></p>
<hr>
<h3 align="center">A<a name="A"></a></h3>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">B<a name="B"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">C<a name="C"></a></h2>
<h3 align="left">CC/PP<a name="ccpp"></a> </h3>
<p>Composite Capabilities/Preference Profiles</p>
<p>The goal of the CC/PP framework is to specify how client devices express their 
  capabilities and preferences (the user agent profile) to the server that originates 
  content (the origin server). The origin server uses the &quot;user agent profile&quot; 
  to produce and deliver content appropriate to the client device. In addition 
  to computer-based client devices, particular attention is being paid to other 
  kinds of devices such as mobile phones.</p>
<p>see <a href="http://www.w3.org/Mobile/CCPP/">CC/PP Working Group Home Page</a> 
</p>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">D<a name="D"></a></h2>
<h3 align="left">Dublin Core<a name="dc"></a></h3>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">E<a name="E"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">F<a name="F"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">G<a name="G"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">H<a name="H"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">I<a name="I"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">J<a name="J"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">K<a name="K"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">L<a name="L"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">M<a name="M"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h3 align="left">Model<a name="model"></a></h3>
<h2 align="center">N<a name="N"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">O<a name="O"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">P<a name="P"></a></h2>
<h3 align="left">Property<a name="model"></a></h3>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">Q<a name="Q"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">R<a name="R"></a></h2>
<h3>RDF</h3>
see Resource Description Framework 
<h3>Resource<a name="resource"></a></h3>
<h3>Resource Description Framework<a name="rdf"></a></h3>
<p>&nbsp;</p>
<p>A resource is identified by a URI and is defined as a conceptual mapping. </p>
<p><a href="http://www.ietf.org/rfc/rfc2396.txt">RFC 2396 </a></p>
<h2 align="center">&nbsp;</h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">S<a name="S"></a></h2>
<h3 align="left">Semantic Web<a name="semanticweb"></a></h3>
<h3 align="left">Statement<a name="statement"></a></h3>
<h3 align="left">Syntax<a name="syntax"></a></h3>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">T<a name="T"></a></h2>
<h3 align="left">Triples<a name="triples"></a></h3>
<h3 align="left">Tuples<a name="tuples"></a></h3>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">U<a name="U"></a></h2>
<h3 align="left">URI<a name="uri"></a></h3>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">V<a name="V"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">W<a name="W"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">X<a name="X"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">Y<a name="Y"></a></h2>
<div align="right"><a href="#top">top</a> </div>
<h2 align="center">Z<a name="Z"></a></h2>
<h2 align="center">&nbsp;</h2>
<div align="right"> 
  <p><a href="#top">top</a> </p>
  <hr>
  <h4 align="center">About this Glossary<a name="aboutthis"></a></h4>
  <div align="left"> 
    <p>&nbsp;</p>
    <p>&nbsp; </p>
    <p>Comments, corrections &amp; additions welcome : <a href="mailto:danny@panlanka.net">mailto:danny@panlanka.net</a></p>
  </div>
  <p align="left">&nbsp;</p>
  <p align="center"><a href="#top">top</a> </p>
</div>
<!-- #EndEditable --> 
<p align="right">&copy; 2001 <a href="http://www.isacat.net/misc/biog.htm">Danny Ayers</a> All rights 
  reserved.</p>
  
<div align="center">
  <p><a href="http://www.citnames.com/site.rdf" title="RDF Metadata"><img src="http://www.citnames.com/icons/rdf.png" alt="RDF" width="36" height="14" border="0"/><br>
    </a></p>
  <p><a href="http://www.isacat.net">stuff</a></p>
</div>
</BODY>
<!-- #EndTemplate --></HTML>

